body{
	font-family: 'opensans';
	color:#555;
}
ul{
	list-style:none;	
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	font-family: 'sansbold';	
}
form{
	margin:0;	
}
.clear{
	clear:both;	
}
.clearfix:after{
	content:"";
	visibility:hidden;
	display:block;
	clear:both;	
}
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#opensans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
header{
	background:#424a59;
	border-top:5px solid #47ccdf;	
}
header ul{
	float: right;
    height: 20px;
    padding-top: 5px;
}
header ul li{
	float:left;
	margin-right:15px;	
}
header ul li.last{
	margin-right:0;	
}
header ul li a{
	text-indent:-9999px;
	display:block;
	background:	url("../images/social-sprite.png") no-repeat;
	width:30px;
	height:30px;
}
header ul li a.facebook{
	background-position:0 1px;
	transition:all 0.3s ease-in;
}
header ul li a.facebook:hover{
	background-position:0 -39px;	
}
header ul li a.twitter{
	background-position:0 -80px;
	transition:all 0.3s ease-in;	
}
header ul li a.twitter:hover{
	background-position:0 -122px;	
}
header ul li a.linkedin{
	background-position:0 -165px;
	transition:all 0.3s ease-in;	
}
header ul li a.linkedin:hover{
	background-position:0 -207px;	
}
header ul li a.gplus{
	background-position:0 -248px;
	transition:all 0.3s ease-in;	
}
header ul li a.gplus:hover{
	background-position:0 -289px;	
}
.logo_row{
	padding:10px 0;	
}
.logo{
	background:url(../images/logo.png) no-repeat;
	width:170px;
	height:68px;
	text-indent:-9999px;
	display:block;	
}
.login-wrap{
	float:right;	
}
.login-wrap li{
	float:left;
	font-size:14px;
	color:#111;
	line-height:23px;	
}
.login-wrap a{
	display:inline-block;
	font-size:14px;
	color:#111;
}
.login-wrap a:hover{
	color:#4AC4D4;	
}
.login-wrap .login{
	margin-right:5px;	
}
.login-wrap li a{
	background:url(../images/login-sprite.png) no-repeat 0 3px;
	padding-left:17px;
}
.login-wrap .login a:hover{
	background-position:0 -21px;	
}
.login-wrap .signup{
	line-height:26px;	
}
.login-wrap .signup a{
	background-position:0 -44px;	
}
.login-wrap .signup a:hover{
	background-position:0 -69px;	
}
.search-btn{
	text-indent:-9999px;
	background:url(../images/login-sprite.png) no-repeat 14px -98px #47ccdf;	
}
nav{
	background:#47ccdf;	
}
.search-wrap input, .search-wrap a{
	margin-bottom:0;	
}
.header_login, .nav-bar, .social_wrap{
	padding:0;	
}
.header_login ul{
	margin-bottom:10px;	
}
nav ul li{
	float:left;	
}
nav ul li a{
	color:#fff;
	font-size:16px;
	padding:10px 25px;
	display:block;	
}
nav ul li a.active{
	background:#424a59;	
}
nav ul li a:hover{
	background:#424a59;
	color:#fff;	
}
.content-wrap, .sidebar{
	margin:15px 0;
	padding:15px;
}
.content-part{
	background:#fff;
	margin-right:10px;	
}
.content-wrap{
	background:#fff;
	box-shadow:0 0 12px #ddd inset;	
}
.sidebar{
	background:rgba(213,211,213,0.5);
	margin-left:10px;
}

.advice-wrap label{
	display:block;
	font-size:20px;
	background:url(../images/advice-icon.png) no-repeat;
	height:21px;
	padding-left:30px;	
}
.advice-wrap input[type="text"]{
	float:left;	
}
.ask-btn{
	padding-left:0;	
}
.ask-btn input[type="submit"]{
	background:#47CCDF;
	font-size:14px;
}
footer{
	background:url(../images/footer_bg.jpg) repeat;	
}
footer p{
	color:#ddd;
	margin-top:10px;	
}
footer p a{
	font-size:14px;
	color:#ddd;	
}